body {
    font-family: 'Ubuntu', sans-serif;
}
.heading {
    font-family: 'Amaranth', sans-serif;
}
div.homescreen {
    text-align: center;
}
div.homescreen img {
    margin-top: 20vh;
}
div.homescreen h1 {
    text-align: center;
}
div.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.navbar {
    margin: 0;
    width: 100%;
}
.navbar-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.nav-item {
    font-size: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.nav-link {
    text-decoration: none;
    display: block;
    margin: 0px;
    color: rgb(17, 11, 48);
    text-decoration: none;
    height: inherit;
    font-size: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.nav-item:hover {
    background-color: rgb(255, 226, 145);
}
.feedbackhead {
    text-align: center;
    margin-bottom: 4%;
}
.slide-wrap {
    -webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
    border-radius: 20px;
    height: 15%;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    background-color: rgb(251, 217, 249);
}
.slidetext {
    padding: 2% 1%;
}
.feedbackbuttons {
    margin: 0 46%;
    padding-bottom: 10px;
}
.feedbackbuttons button {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
}
hr.style-five {
    border: 0; height: 0; 
    -webkit-box-shadow: 0 0 10px 1px black; 
            box-shadow: 0 0 10px 1px black; 
} 
hr.style-five:after { content: "\00a0";}
.homescreen {
    background:-webkit-gradient(
        linear, 
        left top, left bottom, 
        from(rgba(255, 255, 255, 0.4)), 
        to(rgba(255, 255, 255, 0.4))
      ), url("background.jpg");
    background:-webkit-linear-gradient(
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.4)
      ), url("background.jpg");
    background:-o-linear-gradient(
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.4)
      ), url("background.jpg");
    background:linear-gradient(
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.4)
      ), url("background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
#aboutus {
    height: 100vh;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 18px;
    display: table;
}
.headingabout {
    margin: 1% auto;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
    background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
    background: -o-linear-gradient(left, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
ul.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.headcards {
    font-size: 20px;
    margin: 5% auto;
}
.aboutheading {
    background-color: rgb(255, 161, 37);
}
.listaboutus {
    margin: 1% 3%;
}
.listaboutus li {
    margin: 12px;
}
#aboutus div.row div.col-lg-2 {
    -webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
    border-radius: 15px;
    font-size: 16px;
    display: table-cell;
    margin: 3% 2.5%;
    
}
.perind {
    height: 40px;
    width: 50px;
    border-radius: 100%;
    background-color: rgb(0, 138, 0);
    color: #fff;
    padding: 3% 10px;
}
span.abouticon img {
    max-width: 150px;
    max-height: 150px;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    height: auto;
}
.performancelist li {
    margin: 6% 0;
}
#contactus {
    /* display: inline-block; */
    width: 100%;
    height: 20%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#190A05), to(#870000));
    background: -webkit-linear-gradient(left, #190A05, #870000);
    background: -o-linear-gradient(left, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contacticon {
    border-radius: 50%;
    color: #870000; 
    background-color: #fff; 
    height: 50px;
    width: 50px;
    font-size: 25px;
    padding: 12px;
}
.social {
    margin: 2% 3%;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 25px;
    padding: 5px;
    color: #870000;
}